html,body {
  font-family: "Junge", serif;
  background: #F8F8F8;
  font-size: medium;
  margin: 0;
  padding: 0;
}
#container {
  text-align: center;
  padding-top: 0.25%;
}
#googleMap
{
  width: 99%;
  height: 300px;
}
.morado
{
  color: #a603fa;
}
.rojo
{
  color: red;
  font-size: 1.5em;
}
.asterisco
{
  font-size: 0.85em;
}
.verde
{
  color: #518a05;
}
@media screen and (min-width: 1024px) {
  #contenido {
    float: left;
    width: 65%;
    background-color: white;
    margin: 0.25% 0.10% 0% 2%;
  }
  article {
      padding-left:10%;
      padding-right: 10%;
      margin: auto;
      font-size: large;
      text-align: justify;
  }
  #pie {
    clear: both;
    height: 40px;
    background-color:#4a4a49;
    border-style:solid;
    border-color:white;
    text-align: center;
  }
  #barraLateral
  {
    width: 31%;
    float: left;
    background-color: white;
    margin: 0.25% 0% 0% 0.10%;
  }
  .contacto
  {
    padding: 1px;
    margin: 1px;
    background-color: white;
  }
  h3
  {
    text-shadow: 5px 5px 5px steelBlue;
  }
  .iframe {
    width: 100%;
    height: 640px;
    style-border: none;
  }  
}
@media screen and (max-width: 1023px) {
  #contenedor {
    width: 94%;
  }
  #contenido {
    widows: 64%;
  }
  #barra-lateral {
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  #contenido {
    width: auto;
    float: none;
    padding-left: 2%;
  }
  #barra-lateral {
    width: auto;
    float: none;
  }
}
@media screen and (max-width: 480px) {
  #container {
    height: auto;
    width: auto;
  }
  #contenido {
    padding-left: 2%;
  }
  #cabecera {
    max-width: 100%;
  }
}
